---
import LandingHeader from '../components/LandingHeader.astro';
import Layout from '../layouts/Layout.astro'
import BaseSection from '../components/BaseSection.astro';
import Section from '../components/Section.astro';
import TestimonialSection from '../components/TestimonialSection.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<LandingHeader />
		<BaseSection />
		<Section />
		<TestimonialSection />
		<Contact />
	</main>
		
</Layout>


