<article
  class="bg-blue-100 rounded-xl p-4 flex-col items-start justify-between"
>
  <div class="w-[352px] h-[300px]">
    <img class="rounded-xl w-full h-full" src="/pirula.png"/>
  </div>

  <div class="pt-2 flex items-center gap-x-4 text-xs">
    <time datetime="2020-03-16" class="text-gray-500">Oct 25, 2024</time>
    <a
      class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
      >Gato</a
    >
  </div>
  <div class="group relative">
    <h3
      class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
    >
      <a>
        <span class="absolute inset-0"></span>
        Pirula
      </a>
    </h3>
    <p class="mt-5 text-sm leading-6 text-gray-600">
      El día que mi gatita Pirula se escapó de casa fue una pesadilla. Había
      escuchado de PETYA y pensé que quizás podría ayudar, así que publiqué su
      desaparición. No podía creerlo cuando empezaron a llegar avisos de vecinos
      que la habían visto. Una chica incluso envió una foto y me indicó el lugar
      exacto. ¡La encontré en menos de 24 horas! Tener a Luna de vuelta tan
      rápido fue un alivio enorme, y todo gracias a las personas que colaboraron
      en PETYA. Esta app conecta a quienes realmente aman y entienden a nuestras
      mascotas. No tengo palabras para agradecerles.
    </p>
  </div>
  <div class="relative mt-8 flex items-center gap-x-4">
    <img src="/sabrina.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-50" />
    <div class="text-sm leading-6">
      <p class="font-semibold text-gray-900">
        <a>
          <span class="absolute inset-0"></span>
          Sabrina
        </a>
      </p>
      <p class="text-gray-600">Villa el salvador</p>
    </div>
  </div>
</article>
