<article class="bg-blue-100 rounded-xl p-4    flex-col items-start justify-between">
    <div class="  w-[352px] h-[300px]" >   
        <img class="rounded-xl w-full h-full" src="/ramon.png" alt="">
    </div>

      <div class="pt-2 flex items-center gap-x-4 text-xs">
        <time datetime="2020-03-16" class="text-gray-500">Oct 25, 2024</time>
        <a class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Perro</a>
      </div>
      <div class="group relative">
        <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
          <a>
            <span class="absolute inset-0"></span>
            Ramon
          </a>
        </h3>
        <p class="mt-5  text-sm leading-6 text-gray-600">Perdí a Ramón durante un paseo en el parque y, tras horas de búsqueda, estaba convencido de que no lo vería de nuevo. 
            Fue desesperante. Luego un amigo me habló de PETYA, y decidí probarla. Inmediatamente, recibí alertas de avistamientos cercanos gracias a personas en la zona. En solo
             unas horas, alguien me notificó haberlo visto, y lo encontramos rápidamente. PETYA no solo me ayudó a encontrar a Max, sino que también me hizo sentir el apoyo de toda una comunidad dispuesta a ayudar. 
            ¡Es una herramienta increíble para los que amamos a nuestros amigos de cuatro patas!</p>
     </div>
            <div class="relative mt-8 flex items-center gap-x-4">
        <img src="/carlos.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-50">
        <div class="text-sm leading-6">
          <p class="font-semibold text-gray-900">
            <a>
              <span class="absolute inset-0"></span>
              Carlos
            </a>
          </p>
          <p class="text-gray-600">Villa el salvador</p>
        </div>
      </div>
</article>
