<header
  class="bg-white text-blue-900 text-[18px] py-5 px-10 flex items-center fixed top-0 w-full justify-between z-40"
>
  <div class="  flex flex-grow basis-0 font-semibold">
    <img src="/logo.jpeg" alt="logo" class=" w-20 absolute" />

  </div>

  <nav>
    <ul
      class="flex text-sm [&>li>a]:text-[18px] [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:font-semibold"
    >
      <li><a href="#base-section">INICIO</a></li>
      <li><a href="#section">NOSOTROS</a></li>
      <li><a href="#testimonial-section">TESTIMONIOS</a></li>
      <li><a href="#contact">CONTACTO</a></li>
    </ul>
  </nav>

  <nav class="flex flex-grow basis-0 justify-end">
    <ul
      class="[&>li>a]:text-[18px] flex text-sm [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:font-semibold"
    >
      <li><a href="#">👤</a></li>
    </ul>
  </nav>
</header>
