<section
  class="bg-cover bg-[url('/2.png')] h-screen w-screen text-center relative overflow-hidden"
  id="section"
>
  <header class="flex items-center justify-center  pt-20 pb-10   text-center text-pretty  text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
    
    <h2 class="z-10 absolute text-center text-pretty  ">NOSOTROS</h2>
    <div class="bg-white h-[165px] w-full" >
        <img src="/nosotros_fondo.jpeg" alt="" class="z-0 h-full w-full blur-none">
    </div>
    
  </header>
  <main class="flex pl-20 pr-20 pb-10">
    <div class="pr-10 ">
      <img class=" rounded-xl  w-[2000px]" src="/nosotros.jpeg" alt="" />
    </div>
    <article class="bg-slate-200  rounded-xl font-semibold p-4 ">
      <p class="m-1 " style="font-size: 14px;">
        Somos un equipo comprometido con la seguridad y el bienestar de las mascotas en Perú. Nuestra app nació de la necesidad de 
        encontrar una solución eficaz y rápida para reunir a las familias con sus perritos perdidos. Sabemos lo difícil y angustiante 
        que es perder a un compañero peludo, y por eso hemos desarrollado una plataforma que conecta a la comunidad y crea alertas 
        inmediatas para facilitar su búsqueda.
        <br>
        <br>
        Misión:
        Conectar y movilizar a la comunidad de manera rápida y eficiente para facilitar la búsqueda y recuperación de mascotas 
        perdidas a través de alertas instantáneas, herramientas de geolocalización y una red de usuarios comprometidos, trabajamos para que cada mascota tenga el mejor apoyo posible para regresar a casa de manera segura y oportuna.
        <br>
        <br>
        Visión:
        Ser la plataforma líder en la recuperación de mascotas perdidas, creando una comunidad solidaria que reduce el tiempo de 
        separación entre mascotas y sus familias.
        
      </p>
    </article>
  </main>
</section>
