---
import Card from "./Card.astro";
import Card1 from "./Card1.astro";
import Card2 from "./Card2.astro";
---

<section
  class="bg-cover bg-[url('/3.png')] py-24 sm:py-32"
  id="testimonial-section"
>
  <div class="bg-[url('/testimonio_fondo.jpeg')] w-full h-[310px]  flex items-center justify-center">
    <h1
      class="text-center text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl"
    >
      Testimonios
    </h1>
  </div>
  <div class="rounded-xl bg- bg mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="pt-6 pb-6 mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-gray-200 sm:mt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      <Card />
      <Card1 />
      <Card2 />
    </div>
  </div>
</section>
